<!DOCTYPE html>
<html lang="en">

<head>
    <title>Study Spot</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <img src="/static/images/StudySpot-logos/StudySpot-logos_transparent.png">
        <h1>Where should you study today?</h1>
        <div>
            <a class="tab-text" href="/">Home</a>
        </div>
    </div>
    
    {% if no_results %}
    <p>No Favorites Found, Like a study spot and have it show up here!</p>
    {% else %}
    <div class="row">
        {% for result in results %}
        <div class="card">
            <h2>{{ result.name }}</h2>
            <img src="/{{result.img_url}}">
            <div class="card-content">
                {% if result.favorite %}
                <i onclick="toggle(this)" class="fa fa-heart liked" id="{{ result.place_id }}"></i>
                {% else %}
                <i onclick="toggle(this)" class="fa fa-heart" id="{{ result.place_id }}"></i>
                {% endif %}
                <p><a class="bold">Address:</a> <a target="_blank" href="{{ result.link }}">{{ result.address }}</a></p>
                <p class="mediumText">Hours of Operation:</p>
                {% for day in result.hours %}
                <p class="smallText"> {{day}} </p>
                {% endfor %}
                {% if result.food %}
                <p>Food <img class="check" src="/static/images/StudySpot-logos/green-check.png"></p>
                {% else %}
                <p>Food <img class="check" src="/static/images/StudySpot-logos/red-x.png"></p>
                {% endif %}
                {% if result.study_rooms %}
                <p> <a target="_blank" href="{{ result.book_link }}">Study Rooms</a><img class="check"
                        src="/static/images/StudySpot-logos/green-check.png"></p>
                {% else %}
                <p>Study Rooms <img class="check" src="/static/images/StudySpot-logos/red-x.png"></p>
                {% endif %}
                <p><a class="bold">Description:</a> {{ result.description }}</p>
                <br>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    </form>
    <script>
    function toggle(x) {
        var favs = getCookie('favs').split(',')
        favs.pop() // remove last element (comma or empty str)
        x.classList.toggle("liked");

        if (x.classList[x.classList.length - 1] == 'liked') {
            favs.push(x.id)
        } 
        else {
            favs.splice(favs.indexOf(x.id), 1)
        }
        console.log(favs)
        var favs_str = generateCookieString(favs)
        setCookie('favs', favs_str)
    }

    function generateCookieString(favs) {
        var favs_str = ""
        for (var i = 0; i < favs.length; i++) {
            favs_str += favs[i] + ','
        }
        return favs_str
    }

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + "; domain=" + location.host.split(':')[0] + '; path=/';
    }

    function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
    </script>
</body>

</html>
