<!DOCTYPE html>
<html lang="en">
<head>
    <title>Study Spot</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<h1>Please Select Criteria</h1>

<form action="/" method="post" enctype="multipart/form-data">
    <p>Noise Level:</p>
    <input type="radio" id="silent" name="noise" value="silent">
    <label for="silent">Silent</label><br>
    <input type="radio" id="medium" name="noise" value="medium">
    <label for="medium">Medium</label><br>
    <input type="radio" id="loud" name="noise" value="loud">
    <label for="loud">Loud</label>



    <br>

    <p>Location:</p>
    <input type="radio" id="north" name="location" value="north">
    <label for="north">North Campus</label><br>
    <input type="radio" id="central" name="location" value="central">
    <label for="central">Central Campus</label><br>
    <input type="radio" id="medical" name="location" value="medical">
    <label for="medical">Medical Campus</label>

    <br>  
    <br>

    <input type="checkbox" id="open_now" name="open_now" value="open_now">
    <label for="open_now">Open Now</label><br>

    <br>
    <input type="checkbox" id="food" name="food" value="food">
    <label for="food">Food</label><br>
    <br>
    <input type="checkbox" id="study_rooms" name="study_rooms" value="study_rooms">
    <label for="study_rooms">Study Rooms</label><br>


    <input type="submit" value="Search">

    {% for result in results %} 
    <h2>{{ result.name }}</h2>
    <img src="{{result.img_url}}">
    <p>Address: {{ result.address }}</p>
    {% if result.food %}
    <p>This location has food options!</p>
    {% endif %}
    {% if result.study_rooms %}
    <p>This location has study rooms!</p>
    {% endif %}
    <p>Description: {{ result.description }}</p>
    <br>
    {% endfor %}
</form>
</body>
</html>
